<link rel="stylesheet" href="./style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<section class="notes-container">
  <div class="card">
    <div class="card-header">
      <div class="icon-container">
        <div class="left-icon">
          <div class="icon">
            <i class="fa-solid fa-exclamation-triangle"></i>
          </div>
          <div class="icon"><i class="fa-solid fa-plus"></i></div>
          <div class="icon"><i class="fa-solid fa-sync"></i></div>
        </div>
        <div class="right-icon">
          <div class="icon"><i class="fa-solid fa-window-maximize"></i></div>
          <div class="icon"><i class="fa-solid fa-trash-alt"></i></div>
          <div class="icon"><i class="fa-solid fa-save"></i></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-container">
        <textarea class="text-area"></textarea>
      </div>
    </div>
    <div class="card-footer">
      <div class="theme-color-container">
        <div class="theme-color yellow"></div>
        <div class="theme-color green"></div>
        <div class="theme-color pink"></div>
        <div class="theme-color purple"></div>
        <div class="theme-color blue"></div>
        <div class="theme-color gray"></div>
        <div class="theme-color charcoal"></div>
      </div>
    </div>
  </div>
</section>
