<link rel="stylesheet" href="./style.css" />
<html>
    <body>

<section class='main-container'>

<div class="navbar">
    <h1>Sticky Note</h1>
    <div class="menu">
      <button class="logout-button">Logout</button>
    </div>
</div>
  
<section class="no-notes-container">
    <h3>You have no notes</h3><button onClick={createNote}> Create New </button>
  </section>

  <footer>
    <p>Developed with <i class="fa-solid fa-heart"></i> by Temitope.js</p>
  </footer>

  </section>

  </body>
</html>